ul.navbar-nav li {
    margin-left: 15;
}
a {color:white;}
div.cover {
    color: white;
    font-size: 20px;
    letter-spacing: 5px;
    font-family: cursive;
    height: 60vh;
    border-radius: 6px;
    background-color: white;
    position: relative;
    
}
nav{
    background-color: purple;   
}
a:hover{
    color:gainsboro;
}

.textD {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

.gridcontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);

}
.gridimg{
    width: 400px;
    height: 250px;
    transition: 1s;
    border-radius: 10px;
    margin: 10px;
}
.gridimg:hover{
    transform: scale(1.2);
    box-shadow: 4px 4px 5px #888888;
    cursor: pointer;
}
.card-footer{
    text-align: center;
}

